*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    background:-webkit-linear-gradient(rgb(93, 222, 236),rgb(5, 97, 107),rgb(51, 12, 159))
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color:white;
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.footer{
    background-color: rgba(0, 21, 255, 0.774);
    color:white;
    background:-webkit-linear-gradient(rgb(17, 158, 174),rgb(5, 97, 107),rgb(51, 12, 159))
    image-set(center)
}
a{
    color: antiquewhite;
}
.card img {
    height: 200px;
    object-fit: cover;
}


h2 {
    margin-bottom: 20px;
    font-weight: bold;
}
body {
    background-color: #709fce;
}

h2 {
    margin-bottom: 20px;
    font-weight: bold;
}
